<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>Writing Architect</title>
        <link rel="stylesheet" href="../static/main/css/header.css" />
    </head>
    <body>
        <header class = "banner">
            <img class="logo" src="../static/main/images/wa-logo.png" alt="image" />
        </header>
        <nav>  <!--Navigation bar with links to other pages and project title-->
            <ul class="fullscreen">
                <li class = "left"><a>Writing Architect</a></li>
                <li><a class = "link" href="home.html">Home</a></li>
                <li><a class = "link" href="projects.html">Research</a></li>
                <li><a class = "link">Educators</a></li>
                <li><a class = "link" href="https://www.linkedin.com/in/thomas-toaz-368002266/"><img src="../static/main/images/social-linkedin.png" alt="image" /></a></li>
            </ul>
            <ul class="menubar">
                <li class = "left"><a>Writing Architect</a></li>
                <li><a class="link"><img class="menudrop" src="../static/main/images/menu-bar.png" alt="image" /></a></li>
            </ul>
        </nav>
    </body>
</html>