<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>Piano - Thomas Toaz</title>
        <link rel="stylesheet" href="../static/main/css/header.css" />
        <link rel="stylesheet" href="../static/main/css/navbar.css" />
        <link rel="stylesheet" href="../static/piano/css/piano.css" />
        <link rel="stylesheet" href="../static/main/css/footer.css" />
    </head>
    <body class = "banner">
        <header>
            <img class="header" src="../static/main/images/banner.jpg" alt="image" />
        </header>
        <nav>  <!--Navigation bar with links to other pages and project title-->
            <ul class="fullscreen">
                <li class = "left"><a>CSE 477 - Homework 1</a></li>
                <li><a class = "link" href="home.html">Home</a></li>
                <li><a class = "link" href="projects.html">Projects</a></li>
                <li><a class = "link" href="../static/main/images/resume.pdf" target="_blank">Resume</a></li>
                <li><a class = "link" href="https://www.linkedin.com/in/thomas-toaz-368002266/" target="_blank"><img src="../static/main/images/social-linkedin.png" alt="image" /></a></li>
            </ul>
            <ul class="menubar">
                <li class = "left"><a>CSE 477 - Homework 1</a></li>
                <li><!--Checkbox to make menu button toggle on/off dropdown menu visibility-->
                    <label class="switch">
                        <a class="link"><img class="menuicon" src="../static/main/images/menu-bar.png" alt="image" /></a>
                        <input type="checkbox">
                        <span class="dropdown-menu">
                            <ul>
                                <li><a class = "link" href="home.html">Home</a></li>
                                <li><a class = "link" href="projects.html">Projects</a></li>
                                <li><a class = "link" href="../static/main/images/resume.pdf" target="_blank">Resume</a></li>
                                <li><a class = "link" href="https://www.linkedin.com/in/thomas-toaz-368002266/" target="_blank">LinkedIn</a></li>
                            </ul>
                        </span>
                    </label>
                </li>
            </ul>
        </nav>
        <main>
            <div class="poem">
                Behold piano great and old, it's master slumbers in far off cold, If you wish to see anew, call out to it - we see you.
            </div>
            <hr>
            <div class="piano-background">
                <!-- White keys -->
                <div class="key white-key">A</div>
                <div class="key white-key">S</div>
                <div class="key white-key">D</div>
                <div class="key white-key">F</div>
                <div class="key white-key">G</div>
                <div class="key white-key">H</div>
                <div class="key white-key">J</div>
                <div class="key white-key">K</div>
                <div class="key white-key">L</div>
                <div class="key white-key">;</div>
                
                <!-- Black Keys -->
                <div class="key black-key">W</div>
                <div class="key black-key">E</div>

                <div class="key black-key">T</div>
                <div class="key black-key">Y</div>
                <div class="key black-key">U</div>

                <div class="key black-key">O</div>
                <div class="key black-key">P</div>

                <div class="label">The Great Old One</div>
            </div>
            <div class="great-old-one">
                <img class="old-pic" src="../static/piano/images/texture.jpeg" alt="The Great Old One" />
                <div class="label">I have awoken.</div>
            </div> 
        </main>
        <footer>
            <p>©Copyright 2024 by Thomas Toaz. All rights reversed.</p>
        </footer>
        <script src="../static/piano/js/piano.js"></script>
    </body>
</html>