<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>Projects - Thomas Toaz</title>
        <link rel="stylesheet" href="../static/main/css/header.css" />
        <link rel="stylesheet" href="../static/main/css/navbar.css" />
        <link rel="stylesheet" href="../static/main/css/main.css" />
        <link rel="stylesheet" href="../static/main/css/footer.css" />
    </head>
    <body class = "banner">
        <header>
            <img class="header" src="../static/main/images/banner.jpg" alt="Rocky background" />
        </header>
        <nav>  <!--Navigation bar with links to other pages and project title-->
            <ul class="fullscreen">
                <li class = "left"><a>CSE 477 - Homework 1</a></li>
                <li><a class = "link" href="home.html">Home</a></li>
                <li><a class = "link" href="projects.html">Projects</a></li>
                <li><a class = "link" href="../static/main/images/resume.pdf" target="_blank">Resume</a></li>
                <li><a class = "link" href="https://www.linkedin.com/in/thomas-toaz-368002266/" target="_blank"><img src="../static/main/images/social-linkedin.png" alt="LinkedIn" /></a></li>
            </ul>
            <ul class="menubar">
                <li class = "left"><a>CSE 477 - Homework 1</a></li>
                <li><!--Checkbox to make menu button toggle on/off dropdown menu visibility-->
                    <label class="switch">
                        <a class="link"><img class="menuicon" src="../static/main/images/menu-bar.png" alt="Menu" /></a>
                        <input type="checkbox">
                        <span class="dropdown-menu">
                            <ul>
                                <li><a class = "link" href="home.html">Home</a></li>
                                <li><a class = "link" href="projects.html">Projects</a></li>
                                <li><a class = "link" href="../static/main/images/resume.pdf" target="_blank">Resume</a></li>
                                <li><a class = "link" href="https://www.linkedin.com/in/thomas-toaz-368002266/" target="_blank">LinkedIn</a></li>
                            </ul>
                        </span>
                    </label>
                </li>
            </ul>
        </nav>
        <main>
            <div class="explanation">
                <p>Below is a list of projects I worked on in CSE 477:</p>
                <p>click an image, or hyperlink in the description to learn more.</p>

            </div>
            <hr>
            <section class="wrapper">
                <div class="box" ><a class="link" href="piano.html"><img class="headshot" src="../static/main/images/piano.jpeg" alt="Piano" /></a></div>
                <div class="description">
                    <p>
                        <span>Javascript Piano</span><br> 
                        As part of my first Homework assignment in CSE477, I developed an interactive piano build in put HTML, CSS, and Javascript.
                        This tool (in addition to my webpage) highlights my ability to build beautiful and mobile-friendly front-end applications.
                        <br>
                        <a href="piano.html">Click here to see and play!</a>
                       
                    </p>
                </div>
            </section>
            <hr>
             <p class="funFactTitle">A Fun Fact About Me:</p>
             <p class="funfact">My favorite color is neon light blue</p>
        </main>
        <footer>
            <p>©Copyright 2024 by Thomas Toaz. All rights reversed.</p>
        </footer>
    </body>
</html>